.avatar {
	width: 46px;
	height: 46px;
}
.text {
	text-overflow: ellipsis;
	overflow: hidden;
}
.container {
	display: grid;
	grid-auto-flow: column;
	grid-template-column: 50px auto 50px;
	grid-gap: 12px;
	align-items: center;
	margin-top: 1rem;
}
.songInfoContainer {
	overflow: hidden;
	white-space: nowrap;
}
